<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="netprep.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="netprep.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <userSettings>
  <netprep.My.MySettings>
   <setting name="DrillReportExtension" serializeAs="String">
    <value>-sr.rpt</value>
   </setting>
   <setting name="DrawingPath" serializeAs="String">
    <value>\\speedy1\data\drawings</value>
   </setting>
   <setting name="Editor" serializeAs="String">
    <value>c:\windows\system32\write.exe</value>
   </setting>
   <setting name="gitcmd" serializeAs="String">
    <value>C:\Progra~2\Git\cmd\git.cmd</value>
   </setting>
   <setting name="LocalIP" serializeAs="String">
    <value>192.168.1</value>
   </setting>
  </netprep.My.MySettings>
 </userSettings>
 <applicationSettings>
  <netprep.My.MySettings>
   <setting name="gitIgnore" serializeAs="String">
    <value>c:\util\etest.gitignore</value>
   </setting>
  </netprep.My.MySettings>
 </applicationSettings>
</configuration>
